section.portfolio
  .container
    h2.section-title Portfolio
    .row
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
      .col.col--250.portfolio__item
        img(
          src='https://unsplash.it/420/250?random' 
          srcset='https://unsplash.it/420/250?random 1x, https://unsplash.it/840/500?random 2x')
        .portfolio__details
          h3.portfolio__title Portfolio Title
          p.portfolio__description Lorem ipsum dolor sit amet, consectetur adipisicing
        
