section.portfolio#portfolio
  .container
    h2.section-title Portfolio
    .row
      each item in portfolio
        .col.col--250.portfolio__item
          img(
            src=item.img
            srcset=`${item.img} 1x, ${item.img_retina} 2x`
          )
          .portfolio__details
            h3.portfolio__title= item.title
            p.portfolio__description= item.description
